{% extends 'partials/base.html' %} {% load static %} {% block extra_css %}
<!-- dragula css -->
<link href="{% static 'libs/dragula/dist/dragula.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %} {% block contents %}
<h1 class="card-title mb-4">Goals</h1>
<div class="row">
    {% for goal in goals %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">{{goal.name}}</h4>
                <div id="task-1">
                    <div id="upcoming-task" class="pb-1 task-list">
                        {% for task in goal.tasks.all %}
                        <div class="card task-box border border-primary" id="uptask-{{forloop.count}}">
                            <div class="card-body">
                                <div class="float-end ms-2">
                                    {% if task.task_done %}
                                    <span class="badge rounded-pill badge-soft-success font-size-12" id="task-status">Completed</span>
                                    {% else %}
                                    <span class="badge rounded-pill badge-soft-secondary font-size-12" id="task-status">Waiting</span>
                                    {% endif %}
                                </div>
                                <div>
                                    <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark" id="task-name">{{task.task_name}}</a></h5>
                                    <p class="text-muted mb-4">{{task.date_created|date}}</p>
                                </div>
                                <div>
                                    <p>{{task.task_information}}</p>
                                </div>
                                <div class="avatar-group float-start task-assigne">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block">
                                            <div class="avatar-xs">
                                                <span class="avatar-title rounded-circle bg-info text-white font-size-16"> {{user.username.0|title}} </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <h5 class="font-size-15 mb-1" id="task-budget">{{task.task_reason}}</h5>
                                    <p class="mb-0 text-muted">{{task.task_goal}}</p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="lead">No Task Found!</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="lead">No Goal Found!</p>
    {% endfor %}

    <!-- end col -->
</div>
<hr />
<h1 class="card-title mb-4">Tasks</h1>
<div class="row">
    {% for task in tasks %}
    <div class="col-lg-4">
        <div id="task-{{forloop.count}}">
            <div id="upcoming-task" class="pb-1 task-list">
                <div class="card task-box" id="uptask-{{forloop.count}}">
                    <div class="card-body">
                        <div class="float-end ms-2">
                            {% if task.task_done %}
                            <span class="badge rounded-pill badge-soft-success font-size-12" id="task-status">Completed</span>
                            {% else %}
                            <span class="badge rounded-pill badge-soft-secondary font-size-12" id="task-status">Waiting</span>
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark" id="task-name">{{task.task_name}}</a></h5>
                            <p class="text-muted mb-4">{{task.date_created|date}}</p>
                        </div>
                        <div>
                            <p>{{task.task_information}}</p>
                        </div>
                        <div class="avatar-group float-start task-assigne">
                            <div class="avatar-group-item">
                                <a href="javascript: void(0);" class="d-inline-block">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-info text-white font-size-16"> {{user.username.0|title}} </span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="text-end">
                            <h5 class="font-size-15 mb-1" id="task-budget">{{task.task_reason}}</h5>
                            <p class="mb-0 text-muted">{{task.task_goal}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="lead">No tasks available</p>
    {% endfor %}
</div>
<!-- end row -->

<!-- /.modal -->
{% endblock %}
